<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>
    <h1>Home Page</h1>
    <%= title %>
    <ul>
      <% if (messages.length > 0){ 
        messages.forEach((message, index) => { %>
          <li>
            <p><%= message.text %></p>
            <p><%= message.user %></p>
            <p><%= message.added %></p>
          </li>
          <button><a href="/message/<%= index %>">Details</a></button>
        <% }); %>
      <% } else { %>
      <h2>No messages...</h2>
      <% }%>
    </ul>
    <button><a href="/new">New Message</a></button>
  </body>
</html>
